.App{ 
  width: 100%;
  height: 140vh;

}

.home{
  height: 100%;
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-radius: 15px;
}

.home-container{
  width: 80%;
  
}

.instrument{
 width: 180px;
 height: 190px;
 border-radius: 15px;
 background-color: #D9DBE2;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 30px;
 margin-left: 30px;
}

.instrument h4{
  margin-top: 1px;
  margin-bottom: 1px; 
}

.home-img{
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 4px 4px 6px #a1a3a5;
}
.show-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column
}

.show h1,
.inst-type{
  text-align: center;
  background-color: #D9DBE2;
  width: 200px;
  border-radius: 15px;
}

.inst-type {
  margin-top: 0;
  width: 300px;
}

.show-mid{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 5px auto; 
}

.show-about{
  background-color: #D9DBE2;
  width: 600px;
  height: 400px;
  text-align: center;
  border-radius: 15px;
}

.show img{
  max-width: 500px;
  max-height: 450px;
  border-radius: 15px;
}

.react-player{
  margin: 5% 22%;
}