@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Merriweather+Sans&display=swap');
body{
  margin: 0;
  padding: 0;
}


.App{ 
  width: 100%;
  height: 140vh;
  margin: 0;
  padding: 0;
}

.home{
  height: 100%;
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-radius: 15px;
}

.home-container{
  width: 80%;
  
}

.instrument{
 width: 180px;
 height: 190px;
 border-radius: 15px;
 background-color: #D9DBE2;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 30px;
 margin-left: 30px;
 font-family: 'Merriweather Sans', sans-serif;
}

.instrument h4{
  margin-top: 1px;
  margin-bottom: 1px; 
}

.home-img{
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 4px 4px 6px #a1a3a5;
}

.show {
  font-family: 'Merriweather Sans', sans-serif;
}

.show-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column
}

.show h1,
.inst-type{
  text-align: center;
  background-color: #D9DBE2;
  width: 200px;
  border-radius: 15px;
}

.inst-type {
  margin-top: 0;
  width: 300px;
}

.show-mid{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 5px auto; 
}

.show-about{
  background-color: #D9DBE2;
  width: 600px;
  height: 400px;
  text-align: center;
  border-radius: 15px;
}

.show img{
  max-width: 500px;
  max-height: 450px;
  border-radius: 15px;
}

.react-player{
  margin: 5% 22%;
}

.landing{
  background-color: purple;
}

.create-section{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, .8);
  width: 550px;
  margin-left: 35%;
  margin-top: 30px;
  border-radius: 15px;
  font-family: 'Merriweather Sans', sans-serif;
}

form{
  display: flex;
  width: 700px;
  height: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.type,
.area,
.tradition{
  background-color: #D9DBE2;
  width: 270px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
  padding-top: 5px;
}

.tradition{
  height: 60px;
}

input{
  width: 350px;
  height: 40px;
  border-radius: 15px;
  font-size: 20px;
  margin-bottom: 25px;
}

select{
  width: 150px;
  margin-bottom: 25px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
}


textarea{
  width: 300px;
  border-radius: 15px;
}

.add-btn{
  background-color: #D9DBE2;
  width: 200px;
  height: 30px;
  margin-left: 42%;
  margin-top: 20px;
  text-align: center;
  padding-top: 10px;
  border-radius: 15px;
}

.add-btn a{
  text-decoration: none;
}

.create-submit{
  background-color: #05b38d;
}

#delete{
  margin-left: 26%;
  border-radius: 5px;
}